<!DOCTYPE html>
{# Template de base ADMIN#}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Book Shop - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('') }}">
        <link rel="stylesheet" href="{{ asset('') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'admin/partials/navigation.html.twig' %}
            <div class="main">
                {% include 'admin/partials/topbar.html.twig' %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            //MenuToggle
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');

            toggle.onclick = function(){
                navigation.classList.toggle('active');
                main.classList.toggle('active');
            };


            // add hovered class in selected list item
            let list = document.querySelectorAll('.navigation li');
            function  activeLink() {
                list.forEach((item) =>
                    item.classList.remove('hovered'));
                this.classList.add('hovered');
            }
            list.forEach((item) =>
                item.addEventListener('mouseover', activeLink));
        </script>
    </body>
</html>
