<!DOCTYPE html>
{# Templates MAIN PAGES#}
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Shop - {% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/frontendstyle.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'main/partials/header.html.twig' %}
{% block body %}
{% endblock %}
{% include 'main/partials/footer.html.twig' %}
<!-- loader  -->

<div class="loader-container">
    <img src="{{ asset('assets/image/loader-img.gif') }}" alt="">
</div>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="{{ asset('assets/js/frontendscript.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>